@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    background-image: url(https://img.freepik.com/fotos-premium/concepto-pediatria-estetoscopio-juguete-sobre-fondo-claro_441923-12020.jpg);
    background-size: auto 183%;
    background-position: center top;
    font-family: 'Montserrat', sans-serif;
    color: #0c0c0c;
    background-color: #0c0c0c;
    margin: 0;
}


#contenedor {
    background-color: #fff;
    text-align: center;
    width: 80%;
    margin: 50px auto;
    border-radius: 20px;
    box-sizing: border-box;
}

#calculadora {
    background: rgba(254, 254, 254, 0.9);
    width: 48%;
    padding: 35px;
    float: left;
    border-radius: 30px;
    box-sizing: border-box;
    height: 400px;
    overflow: auto;
}

#detalle {
    background: #007BFF;
    width: 48%;
    padding: 35px;
    float: right;
    color: #efe2e2;
    border-radius: 30px;
    box-sizing: border-box;
    height: 400px;
    text-align: justify;
    
}

#contenido {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    font-size: 15px;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 5px;
    background-color: #0056b3; 
    border: 1px solid #0056b3; 
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: transform 200ms ease-in-out; 
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

#error {
    color: red;
    font-weight: bold;
    display: none;
}

#resultado {
    color: #0056b3;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
    display: none;
}
.resultado {
    font-weight: bold;
}
h1 {
    text-align: center;
}